html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	padding: 0.5em;
}

.grid {
	font-family: sans-serif;
	box-sizing: border-box;
	display: grid;
	grid-gap: 0.5em;
	grid-template-areas:
		"header "
		"sidebar "
		"boxes   ";
	grid-template-rows: minmax(min-content, max-content);
	grid-template-columns: auto;
	height: 100vh;
	background: #f1f1f1;
}

@media only screen and (min-width: 550px)  {
	.grid {
		grid-template-areas:
			"header  header"
			"sidebar boxes";
		grid-template-rows: minmax(min-content, max-content);
		grid-template-columns: 250px minmax(300px, auto);
	}
}

h1, h2, p {
	margin: 0;
	margin-bottom: 0.5em;
}

.header {
	/*background: green;*/
	grid-area: header;
	color: black;
	margin: 0;
	align-self: center;
}

.sidebar {
	/*background: red;*/
	grid-area: sidebar;
}

.boxes {
	/*background: blue;*/
	grid-area: boxes;
	align-self: end;
	justify-self: end;
	display: flex;
	flex-direction: row;
}

.box {
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	margin-left: 5px;
}

.content {
	flex: 2 1 100%;
	overflow: scroll;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid gray;
	border-radius: 3px 3px 0px 0px;
}

.input {
	flex: 1 0 auto;
	background: #FFF;
	color: #000;
	border-radius: 0px 0px 3px 3px;
	border: 1px solid gray;
	border-top-width: 0;
	height: 25px;
	padding: 5px;
	background: #e1e1e1;
	margin: 0;
}

.input:focus {
	flex: 1 0 auto;
	background: lightgray;
	outline: none;
}
